{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Подписки{% endblock %}
{% block header %}Посты авторов, на которых вы подписаны{% endblock %}
{% block content %}




{% if user.is_authenticated %} 
  <div class="row" style="margin-left: 0px;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {% if index %}active{% endif %}" href="{% url 'posts:home' %}">
          Все авторы
        </a>
        </li>
      <li class="nav-item">
        <a class="nav-link {% if follow %}active{% endif %}" href="{% url 'posts:follow_index' %}">
          Избранные авторы
        </a>
      </li>
    </ul>
  </div>
{% endif %}

  {% for post in page_obj %}
  <ul>
    <li>
      Автор: <a href="{% url 'posts:profile' post.author.username %}"> {{ post.author.get_full_name }} </a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <div class="container py-5">
      {% thumbnail post.image "900x300" crop="center" upscale=True as im %}
       <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
  </div>
    <p>{{ post.text }}</p>  
    {% if post.group %}   
      Группа: <a href="{% url 'posts:group_posts' post.group.slug %}">{{ post.group.slug }}</a>
    {% endif %}
    <hr> 
  {% endfor %} 
{% endblock %}
