{% extends 'base.html' %}
{% block title %}
  Профиль {{ author.get_full_name }}
{% endblock %}
{% block content %}
{% load thumbnail %}
  <div class="container py-5">
    <div class="mb-5">
      <h1> Все посты пользователя {{ author.get_full_name}} </h1>
      <h3> Всего постов: {{ author.posts.count }} </h3>
      {% if request.user != author %}
      {% if following %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
        Подписаться
        </a>
      {% endif %}
      {% endif %}
    </div>
        {% for post in page_obj %} 
        <article>
            <ul>
              <li>
                Автор: {{ post.author.get_full_name }}
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
            </ul>
            {% thumbnail post.image "960x400" crop="center" upscale=True as im %}
             <img class="card-img my-2" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" >
            {% endthumbnail %}
              <p>{{ post.text | truncatechars:50 }}</p>  
            <a href="{% url 'posts:post_detail' post.pk %}"> подробная информация </a>
            <p>
            {% if post.group %}
              <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы: {{ post.group.slug }} </a>
            {% endif %}
            </p>
        </article>
        <hr>
        {% endfor %} 
            {% if not forloop.last %}<hr>{% endif %}       
      </div>
    </main>
    {% endblock %}
